* {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --boczny--: #C5CAE9;
    --sekcja1--: #9FA8DA;
    --sekcja2--: #7986CB;
    --stopka--: #283593;
}

body {
    overflow: hidden;
}

#blok_boczny {
    background-color: var(--boczny--);
    width: 40%;
    height: 600px;
    float: left;
    overflow: scroll;
}

#sekcja_1,
#sekcja_2 {
    width: 60%;
    height: 300px;
    float: left;
}

#sekcja_1 {
    background-color: var(--sekcja1--);
}

#sekcja_2 {
    background-color: var(--sekcja2--);
}

#blok_stopki {
    background-color: var(--stopka--);
    color: white;
    padding: 20px;
    clear: both;
}

.opona {
    background-color: var(--sekcja1--);
    margin: 40px;
    border: dotted 2px var(--stopka--);
    border-radius: 30px;
}

img {
    float: left;
    padding: 20px;
}

h2 {
    text-align: center;
    padding: 15px;
}

h3 {
    background-color: var(--sekcja2--);
    color: white;
    font-size: 140%;
}

.table {
    background-color: var(--sekcja1--);
    height: 17.5%;
    width: 90%;
    min-height: 60px;
    margin-left: 5%;
    margin-top: 4%;
    border: dotted 3px var(--sekcja2--);
    border-radius: 25px;
}

.line {
    width: 100%;
    padding-top: auto;
    margin-top: 20px;
    height: 20px;
    background-color: var(--sekcja2--);
}

.sticker {
    margin-right: 2%;
    height: 60%;
}

.table_text {
    font-size: 110%;
    padding-top: auto;
    margin-top: 20px;
    font-weight: 800;
}

::-webkit-scrollbar {
    width: 12.5px;
    height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
}